.categoryCon {
  position: absolute;
  width: 100%;
  top: 44px;
  bottom: 40px;
  background-color: #f5f5f5;
  display: flex;
}
.categoryCon > .cateLeft {
  width: 80px;
  position: relative;
}
.categoryCon > .cateLeft .links {
  background-color: #fff;
}
.categoryCon > .cateLeft .links > a {
  display: block;
  line-height: 50px;
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
}
.categoryCon > .cateLeft .links > a.active {
  background-color: #f5f5f5;
  border-right: 1px solid transparent;
}
.categoryCon > .cateRight {
  flex: 1;
  position: relative;
  left: 10px;
}
.categoryCon > .cateRight .brandRight {
  width: 100%;
  background-color: #fff;
  margin-top: 10px;
}
.categoryCon > .cateRight .brandRight span {
  display: block;
  padding-left: 10px;
  line-height: 30px;
  background-color: #eee;
}
.categoryCon > .cateRight .brandRight > li {
  width: 33.33%;
  float: left;
  list-style: none;
}
.categoryCon > .cateRight .brandRight > li > a {
  display: block;
  width: 100%;
}
.categoryCon > .cateRight .brandRight > li > a > img {
  width: 100%;
}
.categoryCon > .cateRight .brandRight > li > a > p {
  text-align: center;
  color: #000;
}
