@basecolor:linear-gradient(red,purple);
*{
    padding: 0;
    margin: 0;
    list-style: none;
}
body .mui-content{
    background: #efefef;
}
.my-header {
    background: @basecolor;
    h1 {
        color: #FFF;
    }
    .mui-icon-search{
        color: #FFF;
    }
}

.my-footer {
    background: @basecolor;
    .mui-tab-item{
        color: #FFF;
        .mui-active{
            color: darkorange;
        }
    }
}